Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A DataFrame is a 2-dimensional data structure in pandas that allows for easy manipulation and analysis of data. It is essentially a table with rows and columns, where each column can have a different data type (e.g. integer, float, string, etc.).

On the other hand, a Series is a 1-dimensional data structure in pandas that can be thought of as a single column of a DataFrame. It also allows for manipulation and analysis of data but it only has one axis, unlike a DataFrame.

In [4]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas is a popular library for data manipulation and analysis. It offers a wide range of functions for handling tabular data, including the DataFrame object. Some common functions you can use to manipulate data in a Pandas DataFrame include:

    drop(): This function allows you to remove one or more rows or columns from a DataFrame based on labels or indices. For example, you might use this function to remove a column that contains irrelevant or redundant data, or to remove rows with missing data.

    merge(): This function allows you to combine two or more DataFrames based on a common key or column. For example, you might use this function to join customer and order data based on a shared customer ID column.

    groupby(): This function allows you to group the data in a DataFrame based on one or more columns and apply a function to each group. For example, you might use this function to group sales data by product category and calculate the total sales for each category.

    pivot_table(): This function allows you to create a summary table of a DataFrame based on one or more columns. For example, you might use this function to create a table that shows the average sales for each product category in each region.

    apply(): This function allows you to apply a function to each element or row/column of a DataFrame. For example, you might use this function to calculate the square root of each value in a column.

    fillna(): This function allows you to fill in missing values in a DataFrame with a specified value or method. For example, you might use this function to fill in missing sales data with the average sales for that product.

    sort_values(): This function allows you to sort the rows of a DataFrame based on one or more columns. For example, you might use this function to sort a DataFrame of customer data based on the customers' last names.

Overall, these functions (and many more) allow you to manipulate and transform data in a variety of ways to gain insights and draw conclusions from your data

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?